/* header  */
.start {
  color: white;
  background-color: rgb(74, 74, 74);
  padding: 4px 5px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;

}

/* main  */

.box-photo {
  width: 250px;
  border: 1px solid black;
  margin: 9px 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;

}

.box-photo img {
  width: 100%;
}



.fa-microphone-slash {
  font-size: 10px;
}

.pinco-pallo {
  color: white;
  position: absolute;
  bottom: 0px;
  left: 1px;
  background-color: rgb(103, 113, 125);
  bottom: 0px;
  padding: 4px;
  font-size: 12px;
  cursor: pointer;
}


/* main */


/* footer */


footer li{
  cursor: pointer;
  flex-direction: row;
  text-align: center;
  margin-right: 20px;
  color: white;
  padding: 10px;
  
}


.other {
  font-size: 12px;
  margin-bottom: 6px;
}

.fa-chevron-up {
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-left: 17px;
}


.fa-share-from-square {
  color: rgb(75, 200, 0);
}


.extra-solid {
  font-size: 20px;
}


.button{
  background-color: rgb(74, 74, 74);
  color: red;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}









/* footer */